search-bar {
    width: 100%;
    .search {
        position: relative;
        font-size: 14px;
        width: 100%;
        min-height: 45px;
        background-color: rgb(253, 253, 253);
        background-image: url(/images/find_grey.svg);
        background-origin: content-box;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 20px;
        color: #665;
        padding: 5px 10px 5px 15px;
        -webkit-appearance: none;
        border-radius: 5px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px;
    }
    .center{
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}