<div class="close">
  <ion-badge (click)="close()" item-end>Fermer</ion-badge>
</div>
<ion-scroll scrollX="true" center>
  <ion-card *ngFor="let lake of searchList" (click)="searchLake(lake)">
    <!-- <img [cache]="lake.img_link" imageCache/> -->
    <ion-card-content>
      <ion-card-title>
        {{lake.name}}
      </ion-card-title>
      <p *ngIf="!lake.description" text-wrap>Aucune description pour cette emplacement</p>
      <p *ngIf="lake.description" text-wrap>{{lake.description}}.</p>
    </ion-card-content>
    <ion-row class="overflow">
      <ion-col class="more">
          <!-- (click)="openContent(lake)"  -->
        <button ion-button outline small icon-start end style="float: center;">
          en savoir +
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-scroll>