<ion-card class="blur" *ngIf="text" >
  <div class="close" (click)="close()">
    <ion-icon name="close"></ion-icon>
  </div>
  <div (click)="openContent(text)"> 
  <img [cache]="img" imageCache/>
  <ion-card-content>
    <ion-card-title>
      {{text.name}}
    </ion-card-title>
    <p *ngIf="!text.description" text-wrap>Aucune description pour cet emplacement</p>
    <p *ngIf="text.description" text-wrap>{{text.description}}.</p>
  </ion-card-content>
  <ion-row class="overflow">
    <ion-col class="more">
      <button ion-button outline small icon-start end style="float: center;">
        en savoir +
      </button>
    </ion-col>
  </ion-row>
  </div>
</ion-card>