.geomodal:focus{
    page-home #map div {
        font-size: 14px !important;
        filter: blur(10px) !important;
    } 
}

ion-modal {
   

    &.geomodal {
        display: flex;
        align-items: center;
        justify-content: center;
        ion-backdrop {
            visibility: visible;
        }
        .modal-wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            overflow: auto;
            width: auto;
            height: auto;
            left: auto;
            top: auto;
            contain: content;
            max-width: 70%;
            max-height: 70%;
            box-shadow: none !important;
            border-radius: 2px;
            > .ion-page {
                position: relative;
                display: block;
                width: auto;
                height: auto;
                contain: content;
            }
        }

    }
}
modal-window {


    ion-card {
        position: relative;
        max-width: 300px;
        border-radius: 7px;

        text-align: center;
        ion-icon {
            display: inline-block;
            font-size: 2.2em;

        }
    }
.card-md {
    border-radius: 7px;

}
    img {
        height: 115px;
        object-fit: cover;
    }
    .card-title-md {
        // display: block;
        // margin: 2px 0 2px;
        // padding: 0px 0 1px 0;
        // font-size: 1.3rem;
        // line-height: 1.2;
        // color: #222;
        display: block;
        margin: 0px 0 2px;
        padding: 0px 0 1px 0;
        font-size: 1.2rem;
        font-weight: 410;
        line-height: 1.6;
        color: #008ecf;
    }
    /* styles for '...' */
    .close {
        position: absolute;
        right: 5px;
        color: white;
        top: 3px;
    }
    .more {
        margin-top: -15px;
        .button-clear-md.activated {
            background-color: rgb(255, 255, 255) !important;
        }
        .button-inner {
            font-size: 1.2rem;
        }
    }
    p {
        overflow: hidden;
        position: relative;
        /* max-height = line-height (1.2) * lines max number (3) */
        max-height: 45px;
        /* place for '...' */
        margin-right: -1em;
        padding-right: 1em;
        font-size: 1.1rem !important;
    }
    /* create the ... */
    p:before {
        content: '...';
        position: absolute;
        right: 10px;
        bottom: 0;
    }
    p:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: white;
    }


}
