<ion-card>
  <ion-card-content>
    <h4>Donne ton avis sur ce lieux</h4>
  </ion-card-content>
  <textarea [(ngModel)]="text">....</textarea>
  <button ion-button mode="md" class="right" (click)="postCom()">Poster</button>
</ion-card>