ion-modal {
    &.addcommodal {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.521);
        ion-backdrop {
            visibility: visible;
            background-color: transparent !important;
        }
        .modal-wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            overflow: auto;
            width: auto;
            height: auto;
            left: auto;
            top: auto;
            contain: content;
            max-width: 70%;
            max-height: 70%;
            box-shadow: none !important;
            border-radius: 2px;
            >.ion-page {
                position: relative;
                display: block;
                width: auto;
                height: auto;
                contain: content;
            }
        }
    }
}

modal-addcom {
    ion-card {
        min-width: 250px;
        max-width: 250px;
    }
    textarea {
        width: 100%;
        border: none;
        padding: 15px;
        background: rgba(148, 148, 148, 0.151);
    }
    .right {
        float: right;
        margin-right: 12px;
        z-index: 1;
    }
}