<ion-content class="tutorial-page">

    <ion-slides pager padding>
      <!-- <ion-slide *ngFor="let slide of slides">
          <ion-buttons end>
            <button ion-button color="primary" ion-button outline (click)="doSignin()" >Passer</button>
          </ion-buttons>
   
        <img [src]="slide.image" class="slide-image"/>
        <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        
        <p [innerHTML]="slide.description"></p>
      </ion-slide> -->
  
      <ion-slide>
        <div class="slideLogo">
          <img src="assets/logo/logoGeolacW.png" class="slide-image"/>
          <h2 class="slide-title">Bienvenue sur Geolac Communauté</h2>
          <p>Géolocalisation des lacs et étangs de France.</p>
          <p>Version Bêta 0.3</p>
        </div>
        </ion-slide>
      <ion-slide padding>
          <ion-buttons end>
              <button ion-button color="primary" ion-button outline (click)="doSignin()">Passer</button>
            </ion-buttons>
          <img src="assets/logo/logoGeolacW.png" class="slide-image"/>
          <h2 class="slide-title">Comment ça marche ?</h2>
          <p>- Géolocalisez les plan d'eau douce autour de vous.</p>
          <p>- Trouvez les lieux grâce à la barre de recherche.</p>
          <p>- Explorer la carte est partez à la découverte de nouvelles aventures !</p>
        </ion-slide>
        <ion-slide padding>
            <ion-buttons end>
                <button ion-button color="primary" ion-button outline (click)="doSignin()">Passer</button>
              </ion-buttons>
            <img src="assets/logo/logoGeolacW.png" class="slide-image"/>
            <h2 class="slide-title">En savoir plus sur un lieu</h2>
            <p>- Informations précises. </p>
            <p>- Description détaillé. </p>
            <p>- Photos et une vue panorama 360°.</p>
            <p>- Notes et avis. </p>
            <p>- Et encore d'autres surprises ! </p>
          </ion-slide>
      <ion-slide padding>
          <img src="assets/logo/logoGeolacW.png" class="slide-image"/>
        <h2 class="slide-title">Vous êtes prêt pour l'exploration ?</h2>
        <h6 class="slide-title">Geolac est une application participative.</h6>
        <h6 class="slide-title">Chaque contribution (avis, note) est utile pour un autre explorateur !</h6>
        <h6 class="slide-title">Pour s'entraider pour la découverte et la préservation de plan d'eau.</h6>
        <button ion-button large clear icon-end color="primary" (click)="doSignin()">
          Continue
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-slide>
    </ion-slides>
  </ion-content>