// page-signin {
//     ion-content {

//         // background-color: red !important;
//         // background-image: url('../assets/images/bg.jpg') !important;
//         background: linear-gradient(-35deg, #51c6fc, #51c6fc,#0aaffc, #0176ac, #0176ac) !important;
//     }

//     .logo {
//         text-align: center;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         font-size: 5rem;
//         height: 200px;
//         img {
//             margin-top: 50px;
//             margin-bottom: 20px;
//             width: 50%;
//             max-width: 250px;
//         }
//     }
// }
// ion-modal {
//     position: absolute;
//     top: 10%;
//     left: 0;
//     display: block;
//     width: 100%;
//     height: 90%;
//     contain: strict;
// }
.tutorial-page {
    width: 100wh;
    height: 100%;
    color: #fff;
    // background: linear-gradient(-35deg, #3dcff8, #1ecdfd, #009ddd, #02a9eb,#62d4f3, #33d3ff ) !important;
    background: linear-gradient(-35deg, #51c6fc, #51c6fc,  #23b5f8, #23b5f8, #0aaffc,#0aaffc, #0176ac, #0176ac) !important;
    background-size: 300% 300% !important;
    -webkit-animation: Gradient 7s ease infinite;
    -moz-animation: Gradient 7s ease infinite;
    animation: Gradient 7s ease infinite;
}
tuto-slide {

.slideLogo {
    margin-top: 50px;
}

    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    
 
    
    
    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
$colors: #360745, #D61C59, #E7D84B, #EFEAC5, #1B8798;



.text--line {
  font-size: .5em;
  }

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  }

$max: 5;
$stroke-step: 7%; 
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
  stroke-width: 3px;
  
  animation: stroke-offset 9s infinite linear;
  
  @for $item from 1 through $max {
    $stroke-color: nth($colors, $item);
    
    &:nth-child(#{$item}) {
      stroke: $stroke-color;
      stroke-dashoffset: $stroke-step * $item;
      }
    }
  }

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: $stroke-step * $max;  
    stroke-dasharray: 0 $stroke-step * $max*2.5;
  }
}
    .slide-zoom {
      height: 100%;
    }
  
    .slide-title {
      margin-top: 2.8rem;
    }
  
    .slide-image {
      max-height: 50%;
      max-width: 60%;
      margin: 18px 0;
    }
  
    b {
      font-weight: 500;
    }
  
    p {
      padding: 0 40px;
      font-size: 14px;
      line-height: 1.5;
      color: #60646B;
  
      b {
        color: #000000;
      }
    }
  
  }