page-signup {
    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
      display: none;
    }
    ion-content {
      background: linear-gradient(-35deg, #51c6fc, #51c6fc,#0aaffc, #0176ac, #0176ac) !important;

    }
}
  


