<ion-header>
  <ion-navbar>
    <ion-title>Création de compte</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form (submit)="doRegister()">
    <ion-list padding inset scroll="false">

      <ion-item>
        <ion-label padding stacked>Identifiant </ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label padding stacked>Mot de passe</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label padding stacked>Vérification mot de passe</ion-label>
        <ion-input type="password" [(ngModel)]="confirm" name="verify"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label padding stacked>Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="confirm"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button block color="primary">Valider</button>
      </div>

    </ion-list>
  </form>

</ion-content>
