// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
//#1b87b1
$colors: (
  primary:         #0aaffc,
  primary-light:   rgb(255, 255, 255),
  primary-dark:    #303F9F,
  primary-text:    #212121,
  secondary-text:  #757575,
  accent:    #FF5252,
  divider:   #BDBDBD
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
ion-icon {
  
  width: 0.6em;
  height: 1em;
  font-size: 1.6em;
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;

    width: 0.6em;
    height: 1em;
    font-size: 1.6em;
  }


  &[class*="custom-fish"] {
    mask-image: url(../assets/images/icon/fish.svg);
  }
  &[class*="custom-swim"] {
    mask-image: url(.././assets/images/icon/swim.svg);
  }
  &[class*="custom-boat"] {
    mask-image: url(../assets/images/icon/boat.svg);
  }
  &[class*="custom-floatt"] {
    mask-image: url(../assets/images/icon/floatt.svg);
  }
  &[class*="custom-caravan"] {
    mask-image: url(../assets/images/icon/caravan.svg);
  }
  &[class*="custom-fire"] {
    mask-image: url(../assets/images/icon/fire.svg);
  }
  &[class*="custom-table"] {
    mask-image: url(../assets/images/icon/table.svg);
  }
  &[class*="custom-tent"] {
    mask-image: url(../assets/images/icon/tent.svg);
  }
  &[class*="custom-bivoi"] {
    mask-image: url(../assets/images/icon/bivoi.svg);
  }
  &[class*="custom-disabled"] {
    mask-image: url(../assets/images/icon/disabled.svg);
  }
  &[class*="custom-heart"] {
    mask-image: url(../assets/images/icon/heart.svg);
  }
  &[class*="custom-canoe"] {
    mask-image: url(../assets/images/icon/canoe.svg);
  }
  &[class*="custom-fish"] {
    mask-image: url(../assets/images/icon/fish.svg);
  }
  &[class*="custom-lifeguard"] {
    mask-image: url(../assets/images/icon/lifeguard.svg);
  }
  &[class*="custom-restaurant"] {
    mask-image: url(../assets/images/icon/restaurant.svg);
  }
  &[class*="custom-parking"] {
    mask-image: url(../assets/images/icon/parking.svg);
  }
  &[class*="custom-shop"] {
    mask-image: url(../assets/images/icon/shop.svg);
  }
  &[class*="custom-ajolote"] {
    mask-image: url(../assets/images/icon/ajolote.svg);
  }
  &[class*="custom-beach-chair"] {
    mask-image: url(../assets/images/icon/beach-chair.svg);
  }
  &[class*="custom-bicycle-rider"] {
    mask-image: url(../assets/images/icon/bicycle-rider.svg);
  }
  &[class*="custom-bumper-boat"] {
    mask-image: url(../assets/images/icon/bumper-boat.svg);
  }
  &[class*="custom-climbing-sport"] {
    mask-image: url(../assets/images/icon/climbing-sport.svg);
  }
  &[class*="custom-diving"] {
    mask-image: url(../assets/images/icon/diving.svg);
  }
  &[class*="custom-distance"] {
    mask-image: url(../assets/images/icon/distance.svg);
  }
  &[class*="custom-dog-man"] {
    mask-image: url(../assets/images/icon/dog-man.svg);
  }
  &[class*="custom-familly"] {
    mask-image: url(../assets/images/icon/familly.svg);
  }
  &[class*="custom-food-truck"] {
    mask-image: url(../assets/images/icon/food-truck.svg);
  }
  &[class*="custom-hiking"] {
    mask-image: url(../assets/images/icon/hiking.svg);
  }
  &[class*="custom-holidays"] {
    mask-image: url(../assets/images/icon/holidays.svg);
  }
  &[class*="custom-horse-riding"] {
    mask-image: url(../assets/images/icon/horse-riding.svg);
  }
  &[class*="custom-man-flying-a-kite"] {
    mask-image: url(../assets/images/icon/man-flying-a-kite.svg);
  }
  &[class*="custom-motor-sports"] {
    mask-image: url(../assets/images/icon/motor-sports.svg);
  }
  &[class*="custom-parking"] {
    mask-image: url(../assets/images/icon/parking.svg);
  }
  &[class*="custom-pedestrian-walking"] {
    mask-image: url(../assets/images/icon/pedestrian-walking.svg);
  }
  &[class*="custom-rescuer"] {
    mask-image: url(../assets/images/icon/rescuer.svg);
  }
  &[class*="custom-road-perspective"] {
    mask-image: url(../assets/images/icon/road-perspective.svg);
  }
  &[class*="custom-running-man"] {
    mask-image: url(../assets/images/icon/running-man.svg);
  }
  &[class*="custom-sailing-boat"] {
    mask-image: url(../assets/images/icon/sailing-boat.svg);
  }
  &[class*="custom-sand-bucket-and-shovel"] {
    mask-image: url(../assets/images/icon/sand-bucket-and-shovel.svg);
  }
  &[class*="custom-shower"] {
    mask-image: url(../assets/images/icon/shower.svg);
  }
  &[class*="custom-showers"] {
    mask-image: url(../assets/images/icon/showers.svg);
  }
  &[class*="custom-single-motorbike"] {
    mask-image: url(../assets/images/icon/single-motorbike.svg);
  }
  &[class*="custom-sleeping-bag"] {
    mask-image: url(../assets/images/icon/sleeping-bag.svg);
  }
  &[class*="custom-spyglass"] {
    mask-image: url(../assets/images/icon/spyglass.svg);
  }
  &[class*="custom-sun-umbrella-and-deck-chair"] {
    mask-image: url(../assets/images/icon/sun-umbrella-and-deck-chair.svg);
  }
  &[class*="custom-sun-umbrella"] {
    mask-image: url(../assets/images/icon/sun-umbrella.svg);
  }
  &[class*="custom-surfer-surfing"] {
    mask-image: url(../assets/images/icon/surfer-surfing.svg);
  }
  &[class*="custom-water-lily"] {
    mask-image: url(../assets/images/icon/water-lily.svg);
  }
  &[class*="custom-water-ski"] {
    mask-image: url(../assets/images/icon/water-ski.svg);
  }
  &[class*="custom-wc-sign"] {
    mask-image: url(../assets/images/icon/wc-sign.svg);
  }
  &[class*="custom-m1"] {
    width: 1.8em !important;
    color: #00aeff;
    mask-image: url(../assets/images/m1.png);
  }
  &[class*="custom-m2"] {
    width: 4.3rem !important;
    color: #0197dd;
    mask-image: url(../assets/images/m2.png);
  }
  &[class*="custom-m3"] {
    width: 4.3rem !important;
    color: #0281bd;
        mask-image: url(../assets/images/m3.png);
  }
  &[class*="custom-m4"] {
    width: 4.3rem !important;
    color: #026c9c;
    mask-image: url(../assets/images/m4.png);
  }
  &[class*="custom-m5"] {
    mask-image: url(../assets/images/m5.png);
  }
  &[class*="custom-picnic"] {
    mask-image: url(../assets/images/icon/picnic.svg);
  }
  &[class*="custom-active-search-symbol"] {
    mask-image: url(../assets/images/icon/active-search-symbol.svg);
  }
  &[class*="custom-bbq"] {
    mask-image: url(../assets/images/icon/bbq.svg);
  }

}



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
