@import "roboto";
@import "noto-sans";
@media not all and (min-height: 600px) and (min-width: 768px) {
    ion-modal ion-backdrop {
        visibility: hidden;
    }
}

@media only screen and (min-height: 0px) and (min-width: 0px) {
    .slidemodal .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: none;
    }
}

page-home {
    loader {
        z-index: 1;
    }
    .top {
        position: absolute;
        top: -1px;
        width: 100%;
        padding: 9px;
        z-index: 999;
    }
    .bottom {
        position: absolute;
        bottom: 10px;
        width: 100%;
    }
    #right-panel {
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }
    #right-panel select,
    #right-panel input {
        font-size: 15px;
    }
    #right-panel select {
        width: 100%;
    }
    #right-panel i {
        font-size: 12px;
    }
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #map {
        height: 100%;
        width: 50%;
    }
    #right-panel {
        float: right;
        width: 48%;
        padding-left: 2%;
    }
    #output {
        font-size: 11px;
    }
    progress[value]::-webkit-progress-value {
        background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #09c, #f44);
        border-radius: 2px;
        background-size: 35px 20px, 100% 100%, 100% 100%;
    }
    background-color: #009ddd;
    .action-sheets-basic-page {
        direction: ltr;
        overflow: hidden;
        text-align: left;
        position: relative;
        color: black;
        font-family: Roboto, Arial, sans-serif;
        user-select: none;
        font-size: 1px;
        background-color: rgb(255, 255, 255);
        padding: 11px;
        border-radius: 2px;
        background-clip: padding-box;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        width: 60px;
        height: 37px;
        box-shadow: none;
        line-height: 32px;
        background-clip: padding-box;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        top: 6px;
        z-index: 1;
        position: absolute;
        left: calc(20px + 100px);
        font-weight: 500;
        font-family: Roboto, Arial, sans-serif;
        .action-sheet-cancel ion-icon,
        .action-sheet-destructive ion-icon {
            color: #757575;
        }
    }
    .action-sheets-basic-page1 {
        direction: ltr;
        overflow: hidden;
        background-clip: padding-box;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        text-align: left;
        position: relative;
        color: black;
        font-family: Roboto, Arial, sans-serif;
        user-select: none;
        font-size: 18px;
        background-color: rgb(255, 255, 255);
        padding: 11px;
        border-radius: 2px;
        background-clip: padding-box;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        width: 60px;
        height: 37px;
        box-shadow: none;
        line-height: 32px;
        top: 6px;
        z-index: 1;
        position: absolute;
        left: calc(87px + 100px);
        font-size: 11px;
        font-weight: 500;
        font-family: Roboto, Arial, sans-serif;
    }
    .action-sheets-basic-page1:active,
    .action-sheets-basic-page:active,
    .ios,
    .md {
        ion-header {
            backdrop-filter: blur(8px);
        } // ion-navbar {
        //     opacity: 0.4;
        //     box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.77);
        // }
    }
    #gradient {
        width: 100%;
        height: 70px;
        padding: 0px;
        margin: 0px; //   border-radius: 5px;
    }
    font-family: 'roboto';
    .toolbar-title {
        color: white;
    }
    ion-fab {
        z-index: 2;
    }
    ion-fab[left] {
        left: 120px;
    }
    ion-fab[top] {
        top: 1px;
    }
    .fab-md-light {
        background-color: white;
        color: grey;
    }
    .fab {
        border-radius: 10%;
        width: 39px;
        height: 36px;
        font-size: 5px;
        line-height: 32px;
        top: 10px;
    }
    .fab-close-icon {
        line-height: 39px;
    }
    .buttonFp {
        // direction: ltr;
        margin: 7px;
        overflow: hidden;
        text-align: left;
        position: absolute;
        color: rgb(0, 0, 0);
        user-select: none;
        z-index: 2;
        font-size: 12px;
        left: 120px;
        top: 4px;
        background-color: rgb(255, 255, 255);
        border-radius: 2px;
        background-clip: padding-box;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        font-weight: 500;
    }
    .buttonFp:visited {
        background-color: #427feb
    }
    .button-disabled {
        background-color: #009ddd;
    }
    .bounce-9:active {
        animation-duration: 3s;
        animation-iteration-count: infinite;
        cursor: pointer;
        width: 2em;
        height: 2em;
        animation-name: bounce-7;
        font-size: 1.6em; // animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    }
    @keyframes bounce-9 {
        0% {
            transform: scale(1, 1) translateY(0);
        }
        10% {
            transform: scale(1.1, .9) translateY(0);
        }
        30% {
            transform: scale(.9, 1.2) translateY(-20px)translateX(0px);
        }
        33% {
            transform: scale(.9, 1.2) translateY(-20px)translateX(-3px);
        }
        35% {
            transform: scale(.9, 1.2) translateY(-20px)translateX(3px);
        }
        40% {
            transform: scale(.9, 1.2) translateY(-20px)translateX(-3px);
        }
        50% {
            transform: scale(1.05, .95) translateY(0);
        }
        57% {
            transform: scale(1, 1) translateY(-7px);
        }
        77% {
            transform: scale(1, 1) translatex(440px);
        }
        90% {
            transform: scale(1, 1) translatex(-50px);
        }
        100% {
            transform: scale(1, 1) translateY(0px);
        }
    }
    #map {
        height: 100%;
        width: 100%;
        background-color: #009ddd;
        div {
            font-size: 14px !important;
        }
        div.gm-svpc {
            font-size: 10px !important;
            position: relative;
            border-radius: 2px;
            cursor: pointer;
            // height: 42px !important;
            // left: 4px !important;
            bottom: 16px;
            height: 72px;
            background-color: #427feb;
            button {
                font-size: 200px !important;
            }
        }
    }
    .box {
        position: absolute;
        z-index: 999;
        top: 0;
    }
    .logo {
        $colors: #360745, #D61C59, #E7D84B, #EFEAC5, #1B8798;
        .text--line {
            font-size: .5em;
        }
        svg {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        $max: 5;
        $stroke-step: 7%;
        .text-copy:active {
            fill: none;
            stroke: white;
            stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
            stroke-width: 3px;
            animation: stroke-offset 3S linear;
            @for $item from 1 through $max {
                $stroke-color: nth($colors, $item);
                &:nth-child(#{$item}) {
                    stroke: $stroke-color;
                    stroke-dashoffset: $stroke-step * $item;
                }
            }
        }
        @keyframes stroke-offset {
            50% {
                stroke-dashoffset: $stroke-step * $max;
                stroke-dasharray: 0 $stroke-step * $max*2.5;
            }
        }
    }
}

// ion-header{
//         background-color: 155, 155, 255, 0,6 !important;
// }