<ion-header >
  <ion-navbar color="primary">
      <!-- <button ion-button clear menuToggle left  color="light">
          <ion-icon name="menu"></ion-icon>
        </button> -->
        <img class="bounce-9" src="assets/logo/logoGeolacW_M.png"/>
    <ion-buttons end>
      <button ion-button icon-only (click)="clickLocalisation()" style="margin-top: 13px;">
        <ion-icon md="md-locate"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end style="margin-top: 13px;">
      <button ion-button icon-only (click)="search = !search">
        <ion-icon md="md-search"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="search"  (click)="search = !search">
          <ion-icon md="md-close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <div class="top" *ngIf="search" [@enterAnimation]>
    <search-bar (change)="searchInput($event)"></search-bar>
  </div>
  <div class="bottom" *ngIf="search" [@enterAnimation]>
    <search-list [listLake]="listLake" [word]="word"></search-list>
  </div>
  <div #map id="map"></div>
</ion-content>