<!-- <ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <!-<p text-center>{{authProvider.userDetails ? 'Bienvenue ' + authProvider.userDetails.email : ''}}</p> -->
        <!-- <ion-list>
            <button menuClose ion-item icon-start>
                <ion-icon name="person" item-start></ion-icon>

            </button>
            <button menuClose ion-item icon-start>
                <ion-icon name="person" item-start></ion-icon>

            </button>
            <button menuClose ion-item icon-start>
                <ion-icon name="person" item-start></ion-icon>
                Soutenir Geolac
            </button>
            <button menuClose ion-item  (click)="pushContact()" icon-start>
                <ion-icon name="person" item-start></ion-icon>
                Contact
            </button>
            <button menuClose ion-item icon-start>
                <ion-icon name="person" item-start></ion-icon>
                Déconnexion
            </button>
        </ion-list>
    </ion-content>

</ion-menu>  -->
<ion-nav swipeBackEnabled="true" [root]="rootPage"></ion-nav>