* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.toolbar-background {
	width: 100wh;
	height: 90vh;
	color: #fff;
    // color:  #009ddd;
   
	background-color:#23b5f8;
	background: linear-gradient(-35deg, #51c6fc, #51c6fc,  #23b5f8, #23b5f8, #0aaffc,#0aaffc, #0176ac, #0176ac) !important;
	background-size: 300% !important;
	-webkit-animation: Gradient 16s ease infinite;
	-moz-animation: Gradient 16s ease infinite;
	animation: Gradient 16s ease infinite;
}

.toolbar-md {

	background: linear-gradient(-35deg, #51c6fc, #51c6fc,  #23b5f8, #23b5f8, #0aaffc,#0aaffc, #0176ac, #0176ac) !important;
	background-size: 300% !important;
	-webkit-animation: Gradient 16s ease infinite;
	-moz-animation: Gradient 16s ease infinite;
	animation: Gradient 16s ease infinite;
    padding: 0px !important;
	min-height: 55px !important;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

