
modal-content {
     .item-profile .left {
        font-size: 3.8rem !important;
        top: 3px !important;

    }
    border-radius: 7px;
    #pano {
        width: 100%;
        height: 270px;
        position: relative;
    }
    ion-fab {
        position: absolute;
        z-index: 1;
    }
    ul {
        padding: 0px;
        margin: 0;
        height: 0px;
        &.rating li {
            padding: 0 2px !important;
            background: none;
            color: #ffb400;
            ion-icon {
                font-size: 15px;
            }
        }
    }
    .bottom {
        position: absolute;
        z-index: 1;
        bottom: 56px;
        color: white;
        padding: 7px;
        font-size: 1.5rem;
        right: 0px;
        height: 30px;
        border-radius: 5px 0px 0px 0px;
        background: rgba(0, 0, 0, 0.527);
    }

    .pulse {
  
        box-shadow: 0 0 0 rgba(204,169,44, 0.4);
        animation: pulse 1s infinite;
      }
      
      @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        }
        70% {
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
        }
        100% {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
      }
    .item-profile {
        width: 100%;
        height: 300px;
   

        img {
            height: 100%;
            width: 100%;
        }
        .splash-bg {

            z-index: 0;
            }

        .swiper-slide {
            align-items: initial !important;
        }
        
        
        .right {
            position: absolute;
            right: 5px;
            top: 3px;
            z-index: 1;
        }
        .left {
            position: absolute;
            left: 10px;
            top: 10px;
            font-size: 2.4rem;
            color: white;
        }

    }
    .title {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.527);
        width: 100%;
        text-align: left;
        z-index: 1000;
        h2 {
            color: white;
            padding: 0px;
            padding-left: 7px;
            font-weight: 300;
        }
    }
    .item-detail {
        width: 100%;
        background: white;
        position: absolute;
        h6 {
            font-size: 14px;
            color: #01acfc;
            text-transform: uppercase;
        }

        h4 {
            text-align: center;
            margin-bottom: 2px;
            padding: 6px;
            font-size: 11px;
            color: #0092d6;
            text-transform: uppercase;
            border: solid 1px #00aaf8;
            border-radius: 5px;
        }
        p {
            text-align: center;
            font-size: 14px;
            font-weight: 410;
            line-height: 1.5;
        }
        ion-col {
            align-items: center !important;
         text-justify: auto;
          }
        .activite {
            align-items: center !important;
 
        }

        h2 {
            .right {
                float: right;
            }
        }
        .iconActivity:active {
            // animation-name: bounce-8;
            animation-name: bounce-7 !important;
            animation-duration: 3s;
            animation-iteration-count: 1;
            cursor: pointer;
        }
        .iconActivity {
            font-size: 40px;
         
            text-align: center;
            display: block;
            float: left;
            p {
                font-size: 1rem;
                margin-top: 3px;
                color: rgb(121, 121, 121);
            }
        }
        .bounce-7:active {
            animation-duration: 3s;
            animation-iteration-count: infinite;
            cursor: pointer;
            width: 2em;
            height: 2em;
            animation-name: bounce-7;
            font-size: 1.6em;
            animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
        }
        @keyframes bounce-7 {
            0% {
                transform: scale(1, 1) translateY(0);
            }
            10% {
                transform: scale(1.1, .9) translateY(0);
            }
            30% {
                transform: scale(.9, 1.2) translateY(-20px)translateX(0px);
            }
            33% {
                transform: scale(.9, 1.2) translateY(-20px)translateX(-3px);
            }
            35% {
                transform: scale(.9, 1.2) translateY(-20px)translateX(3px);
            }
            40% {
                transform: scale(.9, 1.2) translateY(-20px)translateX(-3px);
            }
            50% {
                transform: scale(1.05, .95) translateY(0);
            }
            57% {
                transform: scale(1, 1) translateY(-7px);
            }
            77% {
                transform: scale(1, 1) translatex(440px);
            }
            90% {
                transform: scale(1, 1) translatex(-50px);
            }
            100% {
                transform: scale(1, 1) translateY(0px);
            }
        }
        .bounce-8:active {
            animation-duration: 2s;
            animation-iteration-count: infinite;
            cursor: pointer;
            width: 2em;
            height: 2em;
            font-size: 1.6em;
            animation-name: bounce-8;
            animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
        }
        @keyframes bounce-8 {
            0% {
                transform: scale(1, 1) translateY(0);
            }
            10% {
                transform: scale(1.1, .9) translateY(0);
            }
            30% {
                transform: scale(.9, 1.2) translateY(-50px)translateX(0px);
            }
            33% {
                transform: scale(.7, 1.2) translateY(-50px)translateX(-3px);
            }
            35% {
                transform: scale(.7, 1.2) translateY(-50px)translateX(3px);
            }
            40% {
                transform: scale(.9, 1.2) translateY(-50px)translateX(-3px);
            }
            50% {
                transform: scale(1.05, .95) translateY(0);
            }
            57% {
                transform: scale(1, 1) translateY(-10px);
            }
            60% {
                transform: scale(1, 1) translateY(0px);
            }
            64% {
                transform: scale(1, 1) translateY(-5px);
            }
            76% {
                transform: scale(1, 1) translateY(130px);
            }
            95% {
                transform: scale(1, 1) translateY(-10px);
            }
            97% {
                transform: scale(1, 1) translateY(0px);
            }
            98% {
                transform: scale(1, 1) translateY(-5px);
            }
            100% {
                transform: scale(1, 1) translateY(0px);
            }
        }
        // .badge-md {
        //     float: right;
        //     margin-top: -3px;
        //     border-radius: 4px;
        //     color: #fff;
        //     background-color: #1b87b1;
        // }
    }
}