<ion-content>

  <ion-grid no-padding id="pano">
    <ion-row class="item-profile" text-center #profilePic>
      <ion-slides class="splash-bg" loop="true" pager="true" effect="fade" parallax="true">
        <ion-slide  *ngFor="let imgs of img"><img [cache]="imgs" imageCache /> </ion-slide>
      </ion-slides>
      <button class="left" ion-button clear no-padding (click)="close()"><ion-icon name="arrow-back"></ion-icon></button>
      <button (click)="setPanorama(0)" ion-button color="default" class="right default pulse">Vue 360°</button>
 
    </ion-row>
    <ion-row class="title">
      <h2>{{lake.name}}</h2>
    </ion-row>
  </ion-grid>
  <ion-toolbar>
    <ion-segment [(ngModel)]="tab" color="primary-light" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="info">
        Information
      </ion-segment-button>
      <ion-segment-button value="act">
        Activité
      </ion-segment-button>
      <ion-segment-button value="description">
        Description
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div class="item-detail" no-padding>
    <ion-grid [ngSwitch]="tab">
      <!--- INFORMATION -->
      <ion-grid *ngSwitchCase="'info'" ngSelected="selected">
        <ion-row>
          <!-- <ion-col>
            <h6 *ngIf="lake.adresse">{{lake.adresse}}</h6>
          </ion-col> -->
          <ion-col col-6 *ngFor="let obj of json">
            <div *ngIf="obj.index">
              <h4>{{obj.name}}</h4>
              <p> {{lake[obj.attribute][obj.index]}}</p>
            </div>
            <div *ngIf="!obj.index">
              <h4>{{obj.name}}</h4>
              <p>{{lake[obj.attribute]}}</p>
              <p *ngIf="!lake[obj.attribute]">Non renseigné</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!--- ACTIVITE -->
      <div *ngSwitchCase="'act'" class="activite" padding ngSelected="selected">
        <!-- <h6>Activité des lieux</h6> -->
        <p *ngIf="!activite && !this.lake.activite">Chargement en cours..</p>
        <ion-row *ngIf="activite && this.lake.activite">
          <ion-col *ngFor="let activite of activite" class="iconActivity">
           
                <ion-icon name="md-{{activite.icon}}" [ngStyle]="checkActivite(activite)"></ion-icon>
                <p>{{activite.name}}</p>
           
          </ion-col>
        </ion-row>
      </div>

      <!--- DESCRIPTION -->
      <ion-row *ngSwitchCase="'description'" padding class="description">
        <!-- <h6>Description du lieu</h6> -->
        <p *ngIf="!lake.description" text-wrap>Aucune description pour cet emplacement</p>
        <p *ngIf="lake.description" text-wrap>{{lake.description}}.</p>
      </ion-row>

      <!--- COMMENTAIRE -->
      <div *ngSwitchCase="'commentaire'">
        <h6>Avis des visiteurs des lieux
        </h6>
        <p *ngIf="com.length == 0" text-wrap>Aucun commentaire pour le moment, voyez le premier à donner votre avis !</p>
        <ion-item *ngFor="let com of com">
          <ion-icon name="football" item-start large></ion-icon>
          <h2>{{com.user[0].username}}
            <ion-icon name="md-close" class="right" (click)="deleteCom(com.id)"></ion-icon>
          </h2>
          <p>{{com.text}}</p>
        </ion-item>
      </div>
    </ion-grid>
  </div>
</ion-content>