.slidemodal {
    // max-height: 200px
}

.modal-slide {
    // max-height: 200px !important;
    position: absolute;
    top: 65% !important;
}

modal-slide {

    max-height: 200px;
    img{
        height:75px;
        object-fit:cover;
    }

    .close{
        display: flex;
        padding-right: 5Px;
        justify-content: flex-end;
    }
    ion-scroll {
        height: 200px;
        white-space: nowrap;
    }
    ion-card {
        // width: 150px !important;
        // margin-right: -5Px !important;
        // height: 170px;
        // display: inline-block;
        // position: relative;
        // border-radius: 12px !important; 
        width: 150px !important;
        margin-right: -5Px !important;
        height: 130px;
        display: inline-block;
        position: relative;
        border-radius: 7px !important;
        text-align: center;


    }
    .card-title-md {
        // display: block;
        // margin: 2px 0 2px;
        // padding: 0px 0 1px 0;
        // font-size: 1rem;
        // line-height: 1.2;
        // color: #222;
            display: block;
            margin: 16px 0 2px;
            padding: 0px 0 1px 0;
            font-size: 1.2rem;
            font-weight: 410;
            line-height: 1.6;
            color: #008ecf;            
    }
    .absolute{
        position: absolute;
        right:3px;
        top:3px;
        ion-badge{
            font-size: 0.9rem;
        }
    }
    .more{
        margin-top: -15px;
        .button-clear-md.activated {
            background-color: rgb(255, 255, 255) !important;
        }
        .button-inner{
            font-size: 0.7rem;
        }
    }
    p {
        overflow: hidden;
        position: relative;
        /* max-height = line-height (1.2) * lines max number (3) */
        max-height: 28px;
        /* place for '...' */
        margin-right: -1em !important;
        padding-right: 1em;
        font-size: 0.9rem !important;
    }
    /* create the ... */
    p:before {
        content: '...';
        position: absolute;
        right: 4px;
        bottom: 2px;
    }
    p:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: white;
    }
}