<div class="close">
  <ion-badge (click)="close()" item-end>Fermer</ion-badge>
</div>
<ion-scroll scrollX="true">
  <ion-card *ngFor="let lake of listLake" (click)="locLake(lake)">
    <!-- <img [cache]="img" imageCache/> -->
    <div class="absolute">
      <ion-badge item-end>{{lake.km.toFixed(1)}}km</ion-badge>
    </div>
    <ion-card-content>
      <ion-card-title>
        {{lake.name}}
      </ion-card-title>
      <p *ngIf="!lake.description" text-wrap>Aucune description pour cette emplacement</p>
      <p *ngIf="lake.description" text-wrap>{{lake.description}}.</p>
    </ion-card-content>
    <ion-row class="overflow">
      <ion-col class="more">
        <button (click)="openContent(text)" ion-button outline small icon-start end style="float: center;">
          en savoir +
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-scroll>