<ion-content padding>
  <ion-header>
    <ion-navbar color="primary">
      <ion-title>Connexion compte</ion-title>
    </ion-navbar>
  </ion-header>
  <div class="logo">
    <img src="assets/logo/logoGeolacW.png" />

  </div>

  <form (submit)="doSignin()">
    <ion-list inset padding>

      <ion-item>
        <ion-label padding stacked> Identifiant</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label padding stacked> Mot de passe</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      
      <div padding>
        <button ion-button color="primary" block>Connexion</button>
        <h6 style="text-align: center">Vous n'avez toujours pas de compte ?</h6>
        <h6 style="text-align: center"><a [navPush]="registerPage">Créer un compte</a></h6>
      </div>

    </ion-list>
    </form>

</ion-content>