page-signin {
    ion-content {

        // background-color: red !important;
        // background-image: url('../assets/images/bg.jpg') !important;
        background: linear-gradient(-35deg, #51c6fc, #51c6fc,#0aaffc, #0176ac, #0176ac) ;
    }

    .logo {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        height: 200px;
        img {
            margin-top: 50px;
            margin-bottom: 20px;
            width: 50%;
            max-width: 250px;
        }
    }
    /* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    ion-content {
      background-color: blue;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
}
}